/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

<<<<<<< HEAD
/* END CSS RESET */

=======
>>>>>>> a30a21f (init and map)
html,
body,
#map {
    height: 100%;
    width: 100vw;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 3616c9b (hover interactivity and demographics)
=======
>>>>>>> 5abb066 (hover interactivity and demographics)

#map {
    .districtLabel {
        background-color: rgba(255, 255, 255, 0.74);
        border: none;
        box-shadow: none;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 7px;
    }
}

.leaflet-control.info {
    background: white;
    padding: 7px 9px;

    .data {
        display: flex;
        flex-flow: column nowrap;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
        gap: 5px;
>>>>>>> 3616c9b (hover interactivity and demographics)
=======
>>>>>>> c340105 (mobile click)
=======
        gap: 5px;
>>>>>>> 5abb066 (hover interactivity and demographics)
    }

    .remaining {
        .populationValues {
            display: flex;
            flex-flow: column nowrap;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            padding: 0 0 0 10px;
=======
            padding: 0 8px;
>>>>>>> 3616c9b (hover interactivity and demographics)
=======
            padding: 0 0 0 10px;
>>>>>>> c340105 (mobile click)
=======
            padding: 0 8px;
>>>>>>> 5abb066 (hover interactivity and demographics)
        }
    }

    .title {
        font-weight: bold;
    }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a30a21f (init and map)
=======
>>>>>>> 3616c9b (hover interactivity and demographics)
=======
>>>>>>> 5abb066 (hover interactivity and demographics)
